telethon>=1.10.3
-r requirements-startup.txt
apscheduler
youtube_dl
git+https://github.com/chsaiujwal/maigret
git+https://github.com/gleitz/howdoi
pyseoanalyzer
textblob
python-magic
glitch_this
pytesseract
opencv-contrib-python
iplookup
wget
numpy
pyshorteners
gsearch
hachoir
heroku3
httplib2
humanize
lxml
lyricsgenius
oauth2client
psycopg2-binary
PyLyrics
pySmartDL
pybase64>=0.4.0
pyfiglet
